body {
    background-image: url("../resource/fondoAkame.png");
    background-size: cover;
}
img.logo {
    position: relative;
    top: 0px;
    left: 10%;
    width: 300px;
    height: 250px;
    opacity: .6;
}

img.botonComprar{
    position: absolute;
    left: 30%;    
    height: 100px;
    opacity: .8;
}

img.botonComprar:hover{
    background-color: rgba(44, 44, 44, 0.527);

}

img.botonVender{
    position: absolute;
    left: 60%;    
    height: 100px;
    opacity: .8;
}
img.botonVender:hover{
    background-color: rgba(44, 44, 44, 0.527);

}
.ask {
    text-align: center;
    color: rgba(121, 121, 121, 0.774);
    font-family: 'Press Start 2P', cursive;
    -webkit-text-fill-color: rgba(78, 78, 78, 0.774);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.466);
}
.login{
    text-align: right;
}
.login li{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    display: inline-block;
    color: white;
    padding: 0px 20px;
}